<div class="fixed top-20 right-4 z-50 flex flex-col gap-2">
  @for (toast of toastService.toasts$ | async; track toast.id) {
    <div
         class="px-4 py-3 rounded-md shadow-lg flex items-center justify-between min-w-[300px] text-white transition-all transform translate-y-0"
         [ngClass]="{
           'bg-emerald-500': toast.type === 'success',
           'bg-red-500': toast.type === 'error',
           'bg-indigo-500': toast.type === 'info'
         }">
      <span>{{ toast.message }}</span>
      <button (click)="toastService.remove(toast.id!)" 
              class="close-btn"
              type="button">
        <svg viewBox="0 0 24 24">
          <path d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  }
</div>
